@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #111111;
  --card-bg: #ffffff;
  --border: #eaeaea;
  --primary-yellow: #f7cd46;
  --primary-red: #ef4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-handwriting: var(--font-kalam);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
